
     <h2>Public Recipes</h2>
    <%# @recipes.each do |recipe| %>
       <%#= render recipe %>
       <p>
         <%# <%= link_to "Show this recipe", recipe %> 
       </p>
     <%# end %>
   
   <p>There is no public recipes yet</p>